<!DOCTYPE html>
<html lang="pl" xmlns:th="https://www.thymeleaf.org">
<th:block th:include="fragments/header :: header"></th:block>
<body class="gradient-custom">
<th:block th:include="fragments/navigation :: navigation"></th:block>
<div class="container p-5 justify-content-center">
    <div class="row">
        <h2 class="col mb-3 text-center">Page 404</h2>
    </div>
    <div class="row">
        <img class="col" src="/images/error-404.svg" alt="404" width=200 height=200/>
    </div>
</div>
<th:block th:include="fragments/footer :: footer"></th:block>
</body>
</html>