<!DOCTYPE html>
<html lang="pl" xmlns:th="https://www.thymeleaf.org">
<th:block th:include="fragments/header :: header"></th:block>
<body class="gradient-custom">
<th:block th:include="fragments/navigation :: navigation"></th:block>

<div class="container bg-light border border-1 border-top-0 rounded-bottom shadow-lg py-3">
    <h1 class="text-center">Add question</h1>
    <form th:action="@{/questions/question}" method="post" th:object="${question}">
        <div class="row my-2">
            <div class="col-2">
                <label for="QuestionText">Question text:</label>
            </div>
            <div class="col-10">
                <textarea class="w-100" id="QuestionText" th:field="${question.questionText}" th:required="required">question context</textarea>
            </div>
        </div>

        <div class="row my-2">
            <div class="col-2">
                <label for="AnswerA">Answer A:</label>
            </div>
            <div class="col-10">
                <textarea class="w-100" id="AnswerA" th:field="${question.answers[0].answer}" th:required="required">Answer A</textarea>
            </div>
        </div>

        <div class="row my-2">
            <div class="col-2">
                <label for="AnswerB">Answer B:</label>
            </div>
            <div class="col-10">
                <textarea class="w-100" id="AnswerB" th:field="${question.answers[1].answer}" th:required="required">Answer B</textarea>
            </div>
        </div>

        <div class="row my-2">
            <div class="col-2">
                <label for="AnswerC">Answer C:</label>
            </div>
            <div class="col-10">
                <textarea class="w-100" id="AnswerC" th:field="${question.answers[2].answer}" th:required="required">Answer C</textarea>
            </div>
        </div>

        <div class="row my-2">
            <div class="col-2">
                <label for="AnswerD">Answer D:</label>
            </div>
            <div class="col-10">
                <textarea class="w-100" id="AnswerD" th:field="${question.answers[3].answer}" th:required="required">Answer D</textarea>
            </div>
        </div>

        <div class="row my-2">
            <div class="col-4 text-center">
                <p><label for="QuestionPoints">Number of points:</label></p>
                <input id="QuestionPoints" type="number" value="7" th:field="${question.score}" th:required="required" th:min="1" th:max="100">
            </div>
            <div class="col-4 text-center checkboxValidator">
                <p>Correct answer:</p>
                <label for="CorrectAnserA">A</label>
                <input id="CorrectAnserA" type="checkbox" th:field="${question.answers[0].correct}" th:required="required">
                <label for="CorrectAnserB">B</label>
                <input id="CorrectAnserB" type="checkbox" th:field="${question.answers[1].correct}" th:required="required">
                <label for="CorrectAnserC">C</label>
                <input id="CorrectAnserC" type="checkbox" th:field="${question.answers[2].correct}" th:required="required">
                <label for="CorrectAnserD">D</label>
                <input id="CorrectAnserD" type="checkbox" th:field="${question.answers[3].correct}" th:required="required">
            </div>
            <div class="col-4 text-center">
                <p><label for="GameCategory">Select a category:</label></p>
                <select id="GameCategory" th:field="${question.category}" th:required="required">
                    <option th:each="category : ${categories}" th:value="${category}" th:text="${category}"></option>
                </select>
            </div>
        </div>
        <div class="row my-3">
            <div class="col-12 text-center">
                <button class="btn btn-primary w-auto" type="submit">Save</button>
                <button class="btn btn-secondary w-auto" type="reset">Reset</button>
                <button class="btn btn-warning w-auto" onclick="history.back()">Back</button>
            </div>
        </div>
        <div th:if="${#fields.hasAnyErrors()}" class="card text-bg-warning p-3">
            <div class="card-header h6">Errors:</div>
            <div class="card-body">
                <ul>
                    <li th:each="err : ${#fields.allErrors()}" th:text="${err}"></li>
                </ul>
            </div>
        </div>
    </form>
</div>

<th:block th:include="fragments/footer :: footer"></th:block>
</body>
</html>