<!DOCTYPE html>
<html lang="pl" xmlns:th="https://www.thymeleaf.org">
<th:block th:include="fragments/header :: header"></th:block>
<body>
<th:block th:include="fragments/navigation :: navigation"></th:block>

<div class="container">
    <h1 class="text-center">Edycja pytania <span th:text="${question.idQuestion}"></span></h1>
    <form action="/edit_question_id" method="post">
        <div class="row my-2">
            <div class="col-2">
                <label for="QuestionText">Treść pytania:</label>
            </div>
            <div class="col-10">
                <textarea class="w-100" id="QuestionText" th:field="${question.questionText}">Treść pytania</textarea>
            </div>
        </div>

        <div class="row my-2">
            <div class="col-2">
                <label for="AnswerA">Odpowiedź A:</label>
            </div>
            <div class="col-10">
                <textarea class="w-100" id="AnswerA" th:field="${question.answer.answers[0]}">Odpowiedź A</textarea>
            </div>
        </div>

        <div class="row my-2">
            <div class="col-2">
                <label for="AnswerB">Odpowiedź B:</label>
            </div>
            <div class="col-10">
                <textarea class="w-100" id="AnswerB" th:field="${question.answer.answers[1]}">Odpowiedź B</textarea>
            </div>
        </div>

        <div class="row my-2">
            <div class="col-2">
                <label for="AnswerC">Odpowiedź C:</label>
            </div>
            <div class="col-10">
                <textarea class="w-100" id="AnswerC" th:field="${question.answer.answers[2]}">Odpowiedź C</textarea>
            </div>
        </div>

        <div class="row my-2">
            <div class="col-2">
                <label for="AnswerD">Odpowiedź D:</label>
            </div>
            <div class="col-10">
                <textarea class="w-100" id="AnswerD" th:field="${question.answer.answers[3]}">Odpowiedź D</textarea>
            </div>
        </div>

        <div class="row my-2">
            <div class="col-4 text-center">
                <p><label for="QuestionPoints">Ilość punktów:</label></p>
                <input id="QuestionPoints" type="number" value="7" th:field="${question.score}">
            </div>
            <div class="col-4 text-center">
                <p>Prawidłowa odpowiedź:</p>
                <label for="CorrectAnserA">A</label>
                <input id="CorrectAnserA" type="radio" name="CorrectAnswer">
                <label for="CorrectAnserB">B</label>
                <input id="CorrectAnserB" type="radio" name="CorrectAnswer" checked="">
                <label for="CorrectAnserC">C</label>
                <input id="CorrectAnserC" type="radio" name="CorrectAnswer">
                <label for="CorrectAnserD">D</label>
                <input id="CorrectAnserD" type="radio" name="CorrectAnswer">
            </div>
            <div class="col-4 text-center">
                <p><label for="GameCategory">Wybierz kategorię:</label></p>
                <select id="GameCategory">
                    <option value="cat1">Kategoria 1</option>
                    <option value="cat2" selected="">Kategoria 2</option>
                </select>
            </div>
        </div>
        <div class="row my-3">
            <div class="col-12 text-center">
                <button class="btn text-white bg-primary w-auto" type="submit">Zapisz zmiany</button>
            </div>
        </div>
    </form>
</div>



<th:block th:include="fragments/footer :: footer"></th:block>
</body>
</html>