<!DOCTYPE html>
<html lang="pl" xmlns:th="https://www.thymeleaf.org">
<th:block th:include="fragments/header :: header"></th:block>
<body>
<th:block th:include="fragments/navigation :: navigation"></th:block>

<div class="container">
    <h1 class="text-center">Edycja pytania</h1>
    <form action="/edit_question_id" method="get">
        <div class="row my-3">
            <div class="col-12 text-center">
                <label for="GameCategory">Wybierz id pytania:</label>
                <select id="GameCategory">
                    <option value=""></option>
                    <option value="q1">1</option>
                    <option value="q2">2</option>
                    <option value="q3">3</option>
                </select>
            </div>

        </div>

        <div class="row my-3">
            <div class="col-12 text-center">
                <button class="btn text-white bg-primary w-auto" type="submit">Edytuj pytanie</button>
            </div>
        </div>
    </form>
</div>



<th:block th:include="fragments/footer :: footer"></th:block>
</body>
</html>