<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<th:block th:include="fragments/header :: header"></th:block>
<body class="gradient-custom">
<th:block th:include="fragments/navigation :: navigation"></th:block>

<div class="container bg-light border-1 border-top-0 rounded-bottom shadow-lg p-3 mb-5 bg-body-tertiary rounded">
  <div class="row">
    <div class="col-3"></div>
    <h3 class="col-6 text-center">Quiz_name_default</h3>
  </div>


<th:block th:include="fragments/question_display :: question"></th:block>

  <div class="row">
  <nav aria-label="Questions navigation">
    <ul th:if="${questions.size() > 0}" class="pagination justify-content-center">

      <li th:each="quest,iterStat: ${questions}">
        <a class="page-link" th:href="@{/game/{id}(id=${quest.id})}" th:text="${iterStat.count}">page_number</a>
      </li>

    </ul>
  </nav>
</div>
  <div class="row">
    <div class="col">
      <div class="d-grid gap-2 d-md-flex justify-content-md-end">
        <a th:href="@{/game/result}" class="btn btn-danger">Exit_quiz</a>
      </div>
    </div>
  </div>
</div>

<th:block th:include="fragments/footer :: footer"></th:block>
</body>
</html>