<!DOCTYPE html>
<html lang="pl" xmlns:th="https://www.thymeleaf.org">
<th:block th:include="fragments/header :: header"></th:block>
<body>
<th:block th:include="fragments/navigation :: navigation"></th:block>

<div class="container">
    <h1 class="text-center">Nowa gra</h1>
    <form>
        <div class="row my-3">
            <div class="col-12 text-center">
                <label for="GameCategory">Wybierz kategorię:</label>
                <select id="GameCategory">
                    <option value=""></option>
                    <option value="cat1">Kategoria 1</option>
                    <option value="cat2">Kategoria 2</option>
                </select>
            </div>
        </div>

        <div class="row my-3">
            <div class="col-12 text-center">
                <label for="GameQuestionSNumber">Ilość pytań</label>
                <input id="GameQuestionSNumber" type="number">
            </div>
        </div>
        <div class="row my-3">
            <div class="col-3 text-center offset-3">
                <label for="GameTime">Gra na czas</label>
                <input id="GameTime" type="checkbox">
            </div>

            <div class="col-3 text-center">
                <label for="GamePlayers">Ilośc graczy:</label>
                <select id="GamePlayers">
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                </select>
            </div>
        </div>
        <div class="row my-3">
            <div class="col-12 text-center">
                <button class="btn text-white bg-primary w-auto" type="submit">Rozpocznij grę</button>
            </div>
        </div>
    </form>
</div>

<th:block th:include="fragments/footer :: footer"></th:block>
</body>
</html>