<!DOCTYPE html>
<html lang="pl" xmlns:th="https://www.thymeleaf.org">
<th:block th:include="fragments/header :: header"></th:block>
<body class="gradient-custom">
<th:block th:include="fragments/navigation :: navigation"></th:block>
<div class="container rounded-bottom bg-light shadow-lg">
    <h1 class="pt-2 text-center">New game</h1>
    <form action="#" th:action="@{/game/create}" th:object="${game}" method="post">
        <div class="row my-3">
            <div class="col-12 text-center">
                <label for="GameCategory">Choose category:</label>
                <select id="GameCategory" th:field="*{category}">
                    <option th:value="null" th:text="ALL"></option>
                    <option th:each="category: ${T(com.infoshare.webapp.model.Category).values()}"
                            th:value="${category}" th:text="${category}"></option>
                </select>
            </div>
        </div>

        <div class="row my-3">
            <div class="col-12 text-center">
                <label for="GameQuestionSNumber">Number of questions</label>
                <input id="GameQuestionSNumber" type="number" th:field="*{amountQuestions}" >
            </div>
        </div>

        <div class="row my-3">
            <div class="col-3 text-center offset-3">
                <div class="d-md-flex justify-content-end">
                    <label class="mx-2" for="GameTime">Playing for time</label>
                    <input id="GameTime" type="checkbox" disabled>
                </div>
                <div class="d-md-flex justify-content-end">
                    <label class="mx-2" for="mixedQuestions">Mix up questions?</label>
                    <input id="mixedQuestions" type="checkbox" th:field="*{mixQuestions}" th:value="true">
                </div>
                <div class="d-md-flex justify-content-end">
                    <label class="mx-2" for="mixedAnswers">Mix up the answers?</label>
                    <input id="mixedAnswers" type="checkbox" th:field="*{mixAnswers}" th:value="true">
                </div>
            </div>
        </div>
        <div class="row my-3">
            <div class="col-12 text-center">
                <button class="btn mb-5 text-white btn-primary w-auto" type="submit">Start</button>
            </div>
        </div>
    </form>
</div>

<th:block th:include="fragments/footer :: footer"></th:block>
</body>
</html>