<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<th:block th:include="fragments/header :: header"></th:block>
<body class="gradient-custom">
<th:block th:include="fragments/navigation :: navigation"></th:block>
<div class="container bg-light border border-1 border-top-0 rounded-bottom shadow-lg py-3">
    <a th:href="@{/questions/question}" class="btn btn-success">
        CREATE NEW QUESTION
    </a>
    <a th:href="@{/questions/question}" class="btn btn-success">
        FIND QUESTION
    </a>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>#</th>
            <th>Category</th>
            <th>Question Text</th>
            <th>Answers</th>
            <th>CorrectAnswers</th>
            <th>Score</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="question,iterStat: ${questions}">
            <td class="col-0.5" th:text="${iterStat.count}"></td>
            <td class="col-1" th:switch="${question.category.name()}">
                <p th:case="'HISTORIA'">HISTORIA</p>
                <p th:case="'BIOLOGIA'">BIOLOGIA</p>
                <p th:case="'SZTUKA'">SZTUKA</p>
                <p th:case="*">NIEZNANA</p>
            </td>
            <td th:text="${question.questionText}"></td>


            <td class="col-3 container">
                <div class="row">
                    <p class="col" th:text="'A: '+${question.answers[0].answer}"></p>
                    <p class="col" th:text="'B: '+${question.answers[1].answer}"></p>
                </div>
                <div class="row">
                    <p class="col" th:text="'C: '+${question.answers[2].answer}"></p>
                    <p class="col" th:text="'D: '+${question.answers[3].answer}"></p>
                </div>
            </td>
            <td class="col-1">
                <i th:if="${question.answers[0].correct}" aria-hidden="true">A</i>
                <i th:if="${question.answers[1].correct}" aria-hidden="true">B</i>
                <i th:if="${question.answers[2].correct}" aria-hidden="true">C</i>
                <i th:if="${question.answers[3].correct}" aria-hidden="true">D</i>
            </td>
            <td class="col-1" th:text="${question.score}"></td>

            <td class="col-1">
                <a th:href="@{questions/delete/{id}(id=${question.idQuestion})}" class="btn btn-danger">
                    DELETE
                </a>
                <a th:href="@{questions/edit/{id}(id=${question.idQuestion})}" class="btn btn-primary">
                    EDIT
                </a>

                <a th:href="@{questions/{id}(id=${question.idQuestion})}" class="btn btn-light">
                    SINGLE QUESTION
                </a>
            </td>
        </tr>
        </tbody>
    </table>
</div>

<th:block th:include="fragments/footer :: footer"></th:block>
</body>
</html>
