<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<th:block th:include="fragments/header :: header"></th:block>
<body class="gradient-custom">
<th:block th:include="fragments/navigation :: navigation"></th:block>
<section class="vh-100 gradient-custom">
    <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-12 col-md-8 col-lg-6 col-xl-5">
                <div class="card bg-dark text-white" style="border-radius: 1rem;">
                    <div class="card-body p-5 text-center">

                        <div class="mb-md-5 mt-md-4 pb-5">
                            <form action="#" th:action="@{/register}" method="post" th:object="${user}">
                                <h2 class="fw-bold mb-2 text-uppercase">Signup</h2>

                                <div th:if="${param.error}">
                                    Invalid e-mail and password.
                                </div>
                                <div th:if="${param.logout}">
                                    You have been logged out.
                                </div>

                                <p class="text-white-50 mb-5">Please enter your name, password and e-mail!</p>

                                <div class="form-outline form-white mb-4">
                                    <input type="text" th:field="*{userName}" id="InputName" class="form-control form-control-lg" />
                                    <label class="form-label" for="InputName">User name</label>
                                </div>

                                <div class="form-outline form-white mb-4">
                                    <input type="password" th:field="*{password}" id="InputPassword" class="form-control form-control-lg" />
                                    <label class="form-label" for="InputPassword">Password</label>
                                </div>

                                <div class="form-outline form-white mb-4">
                                    <input type="email" th:field="*{email}" id="InputEmail" class="form-control form-control-lg" />
                                    <label class="form-label" for="InputEmail">E-mail</label>
                                </div>


                                <button class="btn btn-primary btn-lg px-5" type="submit">Send</button>
                                <button class="btn btn-secondary btn-lg px-5" type="reset">Reset</button>
                            </form>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<th:block th:include="fragments/footer :: footer"></th:block>
</body>
</html>