<th:block th:fragment="modal_login">
    <!-- Modal Login-->
    <div class="modal fade" id="modalLogin" tabindex="-1" aria-labelledby="loginModalLabel" aria-hidden="true">
        <div class="modal-dialog d-flex justify-content-center">
            <div class="modal-content w-75">
                <div class="modal-header">
                    <h5 class="modal-title" id="loginModalLabel">Authentication</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body p-4">
                    <div class="container">

                        <div class="row">
                            <a class="btn btn-outline-primary" href="/login" role="button">Log in</a>
                            <a class="btn btn-outline-primary" href="/register" role="button">Sign up</a>
                            <a class="btn btn-outline-warning" href="/reset_password" role="button">Forgot password?</a>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <!-- Modal -->
</th:block>

<th:block th:fragment="modal_upload_file">
    <!-- Modal upload file -->
    <div class="modal" tabindex="-1" id="modalUpload">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Upload file</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <section class="my-5">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-8 mx-auto">
                                    <h2>Upload File</h2>
                                    <form method="post" th:action="@{/upload}" enctype="multipart/form-data">
                                        <div class="form-group">
                                            <input type="file" name="file" class="form-control-file">
                                        </div>
                                        <button type="submit" class="btn btn-primary">Upload File</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
        </div>
    </div>
</th:block>