<th:block th:fragment="navigation">
<nav class="navbar sticky-top navbar-expand-lg bg-dark" data-bs-theme="dark">
    <div class="container-fluid">
        <a class="navbar-brand text">The Velopers</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/new_game">New game</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                       aria-expanded="false">
                        Modify quizzes
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#">Add new questions</a></li>
                        <li><a class="dropdown-item" href="/edit_questions">Edit questions</a></li>
                        <li><a class="dropdown-item" href="#">Delete questions</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" href="">Load form file</a></li>
                        <li><a class="dropdown-item" href="">Save to file</a></li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled">Scoreboard</a>
                </li>
            </ul>

            <form class="d-flex" role="none">
                <button type="button" class="btn btn-outline-primary" data-bs-toggle="modal" data-bs-target="#modalLogin">Login</button>
            </form>

        </div>
    </div>
</nav>
</th:block>