<th:block th:fragment="navigation" xmlns:sec="http://www.w3.org/1999/xhtml">
<nav class="navbar sticky-top navbar-expand-lg bg-dark" data-bs-theme="dark">
    <div class="container-fluid">
        <a class="navbar-brand text">The Velopers</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/new_game">New game</a>
                </li>

                <li sec:authorize="hasRole('ADMIN')" class="nav-item">
                    <a class="nav-link" href="/questions">Modify quizzes</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                       aria-expanded="false">
                        File
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" data-bs-toggle="modal" data-bs-target="#modalUpload" href="">Load form file</a></li>
                        <li><a class="dropdown-item" href="">Save to file</a></li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled">Scoreboard</a>
                </li>
            </ul>
            <div sec:authorize="isAuthenticated()">
                <span class="fw-bold text-light">Welcome: </span>
                <span class="text-light" sec:authentication="name"></span>
            <a class="ms-2 btn btn-outline-light" href="javascript: document.logoutForm.submit()" role="menuitem">Logout</a>
            <form name="logoutForm" th:action="@{/logout}" method="post" th:hidden="true">
                <input hidden type="submit" value="Sign Out"/>
            </form>
            </div>

            <div sec:authorize="isAnonymous()">
            <form class="d-flex" role="none">
                <button type="button" class="ms-2 btn btn-outline-primary" data-bs-toggle="modal" data-bs-target="#modalLogin">Login</button>
            </form>
            </div>

        </div>
    </div>
</nav>
</th:block>